.env
.env.*
!.env.example

.git
.gitignore
.idea/
.vscode/
node_modules/
vendor/
.runtime/
**/__pycache__/
*.pyc

home/code/**/__data/*
!home/code/**/__data/.gitignore

.DS_Store
Thumbs.db
npm-debug.log*
